/* Global Styles - Mobile First*/
html {
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

header img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}


/* Home Page Styles */
.hero-image {
    width: 100%;
}

.divider {
    background-color: #f25c31;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}

.home-img {
    width: 50%;
    /* height: 240px */
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-content p {
    width: 50%;
    padding: 10px;
}

/* About Styles */
/* Info Styles */
/* Location Styles */
/* Menu Styles */
/* Order Styles */
/* Reviews Styles */
/* Varieties Styles */
/* Tablet Styles */
@media only screen and (min-width: 768px) {}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {}