/* Global Styles - Mobile First*/
html {
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

/* Header Styles */
header img {
    width: 80%;
    margin: 0;
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #242424;
    color: white;
}

address {
    font-style: normal;
    padding: 15px;
}

#hours{
    padding: 15px;
}

/* Home Page Styles */
.hero-image {
    width: 100%;
}

.divider {
    background-color: #f25c31;
    color: white;
    font-size: 1.25rem;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}

#real {
    font-weight: 700;
}

.home-img {
    width: 50%;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #c0c0c0;
}

.home-content p {
    width: 50%;
    padding: 10px;
}

.home-content a p {
    font-size: 1.75rem;

    
}

/* About Styles */
/* Info Styles */
/* Location Styles */
/* Menu Styles */
/* Order Styles */
/* Reviews Styles */
/* Varieties Styles */
/* Tablet Styles */
@media only screen and (min-width: 768px) {}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {}